# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/

# Ignore environment variables file
.env

# Ignore OS-specific files
.DS_Store

# Ignore npm-debug files
npm-debug.log*

# Ignore lock files if not needed
package-lock.json
yarn.lock
